


<p>Nombre del pais: @ViewBag.Pais.Nombre</p>
<p>Poblacion del pais: @ViewBag.Pais.Poblacion</p>
<p>Fecha de independecia: @ViewBag.Pais.FechaIndependencia</p>
<p>Atractivo turistico: @ViewBag.Pais.AtractivoTuristicos</p>
<p>Bandera:</p> <img src="/@ViewBag.Pais.ImgBandera" width="284" height="177">

